* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(29, 29, 29);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS code for DARK UI */

button {
  padding: 1rem 2.3rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: dodgerblue;
  color: whitesmoke;
  letter-spacing: 0.1rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: linear-gradient(
    135deg,
    #181818 0%,
    #181818 48%,
    #0a8bee 50%,
    #3badf9fc 65%
  );
  border-radius: 0 0 0.3rem 0;
  box-shadow: inset 0 0 0.3rem rgba(255, 255, 255, 0.179),
    0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 0.9);
}

button:hover::before {
  width: 1.8rem;
  height: 1.8rem;
}

button:hover {
  box-shadow: 0.4rem 0.3rem 0.6rem rgba(255, 255, 255, 0.35);
  transform: translateY(-0.2rem) scale(1.04);
}

button:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  transform: translateY(0);
}
